@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.display-none {
    display: none;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 150px;
    height: 100vh;
}

img{
    width: 40%;
    margin-bottom: 50px;
}

p{
    color: white;
    width: 50%;
    height: 35px;
    font-size: 29px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}

button{
    width: 70%;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #E40539;
}

@media screen and (min-width: 600px){
    html{
        background-color: #272324;
    }

    body{
        width: 360px;
        margin: 0 auto;
    }
}


/* codigo para loading */

:root {
  
    --size: 30px;
    --corFundo: #272324;
    --corCafe: #590909;
    --corVermelhoEscuro: #b51818;
    --corVermelho: #ea3c3c;
  }
  .loading {
    --animacao: 1100ms;
  }
  .loading .bolinha {
   
    --item-size: calc(var(--size) / 2);
    width: var(--item-size);
    height: var(--item-size);
    display: inline-block;
    margin: 0 1px;
    border-radius: 50%;
    border: 3px solid var(--clr-spinner);
    animation: spinner-bolinha var(--animacao) ease-in-out infinite;
  }
  @keyframes spinner-bolinha {
    0%, 100% {
      transform: translateY(40%);
    }
    50% {
      transform: translateY(-40%);
    }
  }
  .loading .bolinha:nth-child(1) {
    --clr-spinner: var(--corVermelho);
    animation-delay: calc(var(--animacao) / 6 * -1);
  }
  .loading .bolinha:nth-child(2) {
    --clr-spinner: var(--corVermelhoEscuro);
    animation-delay: calc(var(--animacao) / 6 * -2);
  }
  .loading .bolinha:nth-child(3) {
    --clr-spinner: var(--corCafe);
    animation-delay: calc(var(--animacao) / 6 * -3);
  }